body{
    background-color: rgba(85, 81, 81, 0.144);
    font-size: large;
    padding: 0;
    box-sizing: border-box
}
h1 {
    color: #004080;
    margin-bottom: 20px;
    text-align: center;
}

p { max-width: 800px;
    margin: 0 auto 20px auto;
    text-align: justify

}


table tbody tr{
    padding: 20px;
    border: 100px;
}